<% content_for :title, "ValetBike" %>

<div class="page-section flexbox vertical stretch">
  <div class="hero flexbox vertical stretch">  
    <h1>Welcome to ValetBike!</h1>
    <h2>Subtitle goes here</h2>
	</div>
  <div role="button" type="button" class="button">
    <%= link_to 'Rent a Bike!', home_map_path %>
  </div><br>
  <div class="section-inner flexbox vertical stretch">
    <h1>What we do:</h1>
    <p>Something about our mission.</p>
  </div>

  
</div>