<div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">

        <div class="section-title">
            <h1>ValetBike Map Page</h1>
        </div>
        <!-- Title will be removed later? -->

        <div class="map__container flexbox horizontal stretch">
            <!-- Made map__container class in case it needs adjustments -->
            <p class="map__text">The map goes here.</p>
            <!-- Made map__text class in case it needs adjustments -->
            <img src="../app/assets/images/placeholder-map-pin.png">
            <!-- Can't get this to work right now -->
        </div>

    </div>

    <div class="section-inner flexbox vertical stretch">
        <div class ="location-info__container flexbox vertical stretch">
            <!-- Made location-info__container class in case it needs adjustments (scroll-bar, visibility, etc.) -->
            <h2> Location Info </h2>
            <ol type="1" class="location-info__text">
                <li>Station 1:
                    <ul>
                    Bikes available: #
                    </ul>
                </li>
                <li>Station 2
                    <ul>
                    Bikes available: #
                    </ul>
                </li>
            </ol>
            <!-- Made location-info__text class in case it needs adjustments -->
        </div>
    </div>

</div>