/************************************/
/*           Map Page CSS           */
/************************************/

.map__container {
    height: 500px;
}

.map__text {
    margin: auto;
    width: 50%;
}