/************************************/
/*       Universal Page Style       */
/************************************/

.hero {
  height: 30em;
  padding-right: 1.4em;
  padding-left: 1.4em;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  background: #666;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/placeholder-map-pin.png");
  background-repeat: no-repeat;
  background-size: auto 1500px;
  background-position: center;
  color: #fff;
  margin-bottom: 4em;
}

.page-section {
  max-width: 80em;
  width: 100%;
  margin-bottom: 4em;
}

.page-section .section-inner {
  margin-right: 1.4em;
  margin-left: 1.4em;
}

.page-section .section-title {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 2.5em;
  margin-bottom: 1em;
}

.record-row {
  padding: 0.5em 1.25em 0.5em 1.25em;
  font-size: 0.85em;
  line-height: 1.75em;
}

.record-row.even {
  background: var(--medium-white-color);
}

.record-row.odd {
  background: var(--dark-white-color);
}


/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:48em) {
  .hero {
    height: 85vh;
    margin-bottom: 3em;
  }
  
  .page-section {
    margin-bottom: 3em;
  }

  .page-section .section-title {
    font-size: 1.9em;
    margin-bottom: .6em;
  }

}
